body{
   background-image: url(./img/paredeCinzahtml2.avif) ;
}
.title{
    text-align: center;
    font-size: 50px;

}
.botaoretorno{
    width: 200px; 
    height: 50px; 
    font-size: 16px; 
            
    background-color: black; 
    color: white; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
    
    margin-top: 25%;
    margin-left: 43%;
    
   
}
